@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e601";
}
.icon-facebook:before {
    content: "\e606";
}
.icon-star:before {
    content: "\e602";
}
.icon-trash:before {
    content: "\e603";
}
.icon-tag:before {
    content: "\e604";
}
.icon-clip:before {
    content: "\e605";
}
.icon-like:before {
    content: "\e61d";
}
.icon-eye:before {
    content: "\e607";
}
.icon-bubble:before {
    content: "\e608";
}
.icon-food:before {
    content: "\e609";
}
.icon-pen:before {
    content: "\e60a";
}
.icon-user:before {
    content: "\e60b";
}
