<template name="nav">
  <header class="header">

    <a id="mobile-menu" href="#menu" class="mobile mobile-button menu"><i class="icon-menu"></i><span>{{i18n "Menu"}}</span></a>
    <div class="grid">
        <a class="logo grid" href="/"><img src="/img/gifster-logo.png" alt=""/></a>
        <div class="auth-buttons">
            {{loginButtons align="right"}}
            {{#if currentUser}}
            <div class="dropdown">
            <img class='fb-profile ' src="{{facebookProfileUrl}}" alt="">
                <div class="dropdown-menu" style="padding-top: 36px;">
                    <ul>
                        <li><a class="button" id="logout" href="">Sign out</a></li>
                    </ul>

                </div>
             </div>
            {{/if}}
        </div>
        <ul class="nav site-nav desktop">
          {{#if canView}}
          <li><a class="top navitem" href="/top"><i class="icon-coffee"></i>{{i18n "Top"}}</a></li>
          <li><a class="new navitem" href="/new"><i class="icon-cup-2"></i>{{i18n "New"}}</a></li>
          {{/if}}
          {{#if hasCategories}}
          <li class="dropdown">
            <a class="categories navitem" href="/"><i class="icon-cup"></i>{{i18n "Categories"}}</a>
            <div class="dropdown-menu">
              <ul role="menu" aria-labelledby="dLabel">
                {{# each categories}}
                  <li><a class="pending" href="{{categoryLink}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </div>
          </li>
          {{/if}}
          {{#if isAdmin}}
          <li class="dropdown">
            <a class="admin" href="/">{{i18n "Administration"}}</a>
            <div class="dropdown-menu">
              <ul role="menu" aria-labelledby="dLabel">
                <li><a class="pending" href="/pending">{{i18n "Pending"}}</a></li>
                <li><a class="users" href="/all-users">{{i18n "Users"}}</a></li>
                <li><a class="settings" href="/settings">{{i18n "Settings"}}</a></li>
                <li><a class="categories" href="/categories">{{i18n "Categories"}}</a></li>
                <li><a class="logs" href="/logs">{{i18n "Logs"}}</a></li>
                <li><a class="categories" href="/toolbox">{{i18n "Toolbox"}}</a></li>
              </ul>
            </div>
          </li>
          {{/if}}
          {{#if currentUser}}
          <li><a class="button" href="/submit">{{i18n "Post"}}</a></li>
          {{/if}}
        </ul>



        <!--<a href="#" class="soc-button soc-button-facebook" rel="nofollow"><i class="icon-facebook"></i>Like</a>-->


    </div>
  </header>
</template>
